<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/typography/typography.css" />
    <title>Typography</title>
  </head>
  <body>
    <div class="main-container">
      <div class="outer-typo-container">
        <div class="header header-secondary">Typography</div>
        <hr style="margin-bottom: 1rem" />
        <div class="header header-primary">primary header</div>
        <div class="header header-secondary">secondary header</div>
        <div class="header header-tertiary">tertiary header</div>
        <div class="text text-primary">primary text</div>
        <div class="text text-regular">regular text</div>
        <div class="text text-gray">secondary text</div>
        <div class="text text-small">small text</div>
        <div class="text text-small text-gray">small gray text</div>
        <div class="text text-center">centered text</div>
      </div>
    </div>
  </body>
</html>
