@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("./components/alert/alert.css");
@import url("./components/avatar/avatar.css");
@import url("./components/badge/badge.css");
@import url("./components/button/button.css");
@import url("./components/card/card.css");
@import url("./components/input/input.css");
@import url("./components/modal/modal.css");
@import url("./components/toast/toast.css");
@import url("./components/tooltip/tooltip.css");
@import url("./components/typography/typography.css");
@import url("./components/checkbox/checkbox.css");
@import url("./components/carousel/carousel.css");
@import url("./styles.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-container {
  margin-top: 1.6rem;
}
.hr-sidebar {
  width: 60%;
  margin: auto;
}
.container-style-development-purpose {
  display: grid;
  grid-template-columns: 0.8fr 4fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  overflow: hidden;
}

.main-body-kaali {
  margin-top: 60px;
  overflow: auto;
  height: calc(100vh - 70px);
  padding: 1rem;
  padding-left: 0;
}

.sidebar-list-kaali {
  display: flex;
  justify-self: center;
  list-style: none;
  width: 80%;
  overflow-y: auto;
  flex-direction: column;
  height: calc(100vh - 70px);
  margin-top: 60px;
  background-color: var(--sidebar-background);
  padding: 1rem 0rem;
  text-transform: capitalize;
}

.sidebar-list-kaali::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.sidebar-list-kaali:-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-list-kaali::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #ffc72c;
}

.sidebar-list-kaali .sidebar-list-items {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.sidebar-list-kaali .sidebar-list-items:hover {
  color: var(--status-available-background);
}

.secondary-header {
  font-size: var(--font-secondary-header);
  font-weight: 600;
}

.params {
  margin: 1rem 0rem;
}

hr {
  width: 100%;
  /* border-top: 1px solid white; */
}
/* .outer-get-started-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  min-height: 100vh;
} */
.note {
  color: #ffbd2e;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0.8px;
}

.code-box {
  padding: 1rem;
  position: relative;
}

.code-container {
  font-family: "Inconsolata", monospace;
  background-color: #151718;
  height: auto;
  max-width: 740px;
  overflow-x: auto;
  padding: 1rem;
  overflow-y: hidden;
  border-radius: 0.2rem;
  line-height: 30px;
}
.normal-code-text {
  color: rgb(248, 248, 248);
}

.fa-clipboard.fas {
  cursor: pointer;
}
.code-container > pre {
  /* height: 240px; */
  overflow: hidden;
  display: inline-block;

  /* width: 600px; */
}
.code {
  font-family: "Inconsolata", monospace;
}
.comments {
  color: #9fca56;
}
.code > span {
  font-family: "Inconsolata", monospace;
}

.token.tag {
  color: #55b5db;
}

.attr {
  color: #9fca56;
}

.symbol {
  color: #55b5db;
}
.lt.symbol,
.gt.symbol,
.slash {
  color: gray;
}
.copy-tooltip {
  position: absolute;

  right: 510px;
  z-index: 2;
}
/* copy-tooltip for Copy Text */
.copy-tooltip .tooltiptext {
  font-size: smaller;
  visibility: hidden;
  width: 150px;
  background-color: gray;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s;
  top: -100%;
  left: -626.1%;
}

/* .copy-tooltip .tooltiptext::after { */
.copy-tooltip .tooltiptext::after {
  content: "";
  left: 50%;
  top: 100%;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.fa-clipboard:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* utility Classes */

/* display related */
.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.ai-center {
  align-items: center;
}

.f-direction-row {
  flex-direction: row;
}

.f-direction-col {
  flex-direction: column;
}
.jc-center {
  justify-content: center;
}
.jc-space-around {
  justify-content: space-around;
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-evenly {
  justify-content: space-evenly;
}

.jc-start {
  justify-content: flex-start;
}

.jc-end {
  justify-content: flex-end;
}

.d-none,
.hide {
  display: none;
}

.d-block {
  display: block;
}
.d-inline-block {
  display: inline-block;
}

.d-grid.repeat.auto-fill.min-280.max-auto.gap-10 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, auto));
  gap: 10px;
}

/* --------------------------------------------------- */

/* Margin */

.mx-1 {
  margin: 0rem 1rem;
}

.mx-small {
  margin: 0rem 0.2rem;
}

.mx-2 {
  margin: 0rem 2rem;
}

.my-1 {
  margin: 1rem 0rem;
}

.my-small {
  margin: 0.5rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.m-small {
  margin: 0.2rem;
}

.m-medium {
  margin: 0.5rem;
}

.m-large {
  margin: 1rem;
}

.m-extra-large {
  margin: 1.5rem;
}

/* margin-top */

.mt-small {
  margin-top: 0.2rem;
}

.mt-medium {
  margin-top: 0.5rem;
}

.mt-large {
  margin-top: 1rem;
}

.mt-extra-large {
  margin-top: 1.5rem;
}

/* margin-left */
.ml-small {
  margin-left: 0.2rem;
}

.ml-medium {
  margin-left: 0.5rem;
}

.ml-large {
  margin-left: 1rem;
}

.ml-extra-large {
  margin-left: 1.5rem;
}

/* margin-bottom */
.mb-small {
  margin-bottom: 0.2rem;
}

.mb-medium {
  margin-bottom: 0.5rem;
}

.mb-large {
  margin-bottom: 1rem;
}

.mb-extra-large {
  margin-bottom: 1.5rem;
}

/* margin-right*/
.mr-small {
  margin-right: 0.2rem;
}

.mr-medium {
  margin-right: 0.5rem;
}

.mr-large {
  margin-right: 1rem;
}

.mr-extra-large {
  margin-right: 1.5rem;
}

/* --------------------------------------------------------------- */
/* Padding */

.px-1 {
  padding: 0rem 1rem;
}

.px-small {
  padding: 0rem 0.2rem;
}

.px-2 {
  padding: 0rem 2rem;
}

.py-1 {
  padding: 1rem 0rem;
}

.py-small {
  padding: 0.5rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.p-extra-large {
  padding: 1.5rem;
}

.p-small {
  padding: 0.2rem;
}

.p-medium {
  padding: 0.5rem;
}

.p-large {
  padding: 1rem;
}

.p-extra-large {
  padding: 1.5rem;
}

/* padding-left */
.pl-small {
  padding-left: 0.2rem;
}

.pl-medium {
  padding-left: 0.5rem;
}

.pl-large {
  padding-left: 1rem;
}

.pl-extra-large {
  padding-left: 1.5rem;
}

/* padding-bottom */
.pb-small {
  padding-bottom: 0.2rem;
}

.pb-medium {
  padding-bottom: 0.5rem;
}

.pb-large {
  padding-bottom: 1rem;
}

.pb-extra-large {
  padding-bottom: 1.5rem;
}

/* padding-right*/
.pr-small {
  padding-right: 0.2rem;
}

.pr-medium {
  padding-right: 0.5rem;
}

.pr-large {
  padding-right: 1rem;
}

.pr-extra-large {
  padding-right: 1.5rem;
}

/* colors */
.green {
  color: var(--green);
}
.red {
  color: var(--red);
}

/* text colors */
.text-white {
  color: var(--font-color);
}

.text-black {
  color: black;
}

/* font sizes */
.fs-1 {
  font-size: 1rem;
}

.fs-2 {
  font-size: 1.2rem;
}
.fs-3 {
  font-size: 1.5rem;
}
/* width 100% */
.w-100 {
  width: 100%;
}

@media only screen and (max-width: 480px) {
  .container-style-development-purpose {
    display: block;
  }
  .code-box {
    padding: 1rem 0;
  }

  .main-body-kaali {
    padding-left: 1rem;
    overflow-x: hidden;
  }
  .sidebar-container-kaali {
    display: none;
  }

  .code-container {
    display: flex;
    flex-direction: column;
  }
  .copy-tooltip {
    margin-bottom: 10px;
    position: unset;
  }
  .copy-tooltip .tooltiptext {
    left: 0%;
    top: 0%;
  }
  .copy-tooltip .tooltiptext::after {
    left: 10%;
    top: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 985px) {
  .container-style-development-purpose {
    display: block;
  }
  .main-body-kaali {
    padding: 1rem;
  }
  .sidebar-container-kaali {
    display: none;
  }
  .code-box {
    padding: 1rem 0rem;
  }
  .code-container {
    display: flex;
    flex-direction: column;
  }
  .copy-tooltip {
    position: unset;
  }
  .copy-tooltip .tooltiptext {
    top: 0%;
    left: 0;
  }
  .copy-tooltip .tooltiptext::after {
    left: 10%;
    top: 100%;
  }
}
@media screen and (min-width: 985px) and (max-width: 1200px) {
  .copy-tooltip {
    margin-bottom: 10px;
    position: absolute;
    float: right;
    left: 720px;
  }
  .copy-tooltip .tooltiptext {
    top: -110%;
    left: -75px;
  }
  .copy-tooltip .tooltiptext::after {
    left: 51%;
    top: 100%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  .copy-tooltip {
    margin-bottom: 10px;
    position: absolute;
    float: right;
    left: 720px;
  }
  .copy-tooltip .tooltiptext {
    top: -110%;
    left: -82px;
  }
  .copy-tooltip .tooltiptext::after {
    left: 55%;
    top: 100%;
  }
}
