@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("./components/alert/alert.css");
@import url("./components/avatar/avatar.css");
@import url("./components/badge/badge.css");
@import url("./components/button/button.css");
@import url("./components/card/card.css");
@import url("./components/input/input.css");
@import url("./components/modal/modal.css");
@import url("./components/toast/toast.css");
@import url("./components/tooltip/tooltip.css");
@import url("./components/typography/typography.css");
@import url("./components/checkbox/checkbox.css");
@import url("./components/carousel/carousel.css");
@import url("./components/radio/radio.css");
@import url("./utilities/utilities.css");
@import url("./styles.css");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-container {
  margin-top: 1.6rem;
}
.hr-sidebar {
  width: 60%;
  margin: auto;
}
.container-style-development-purpose {
  display: grid;
  grid-template-columns: 0.8fr 4fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
  overflow: hidden;
}

.main-body-kaali {
  margin-top: 64px;
  overflow: auto;
  overflow-x: hidden;
  height: calc(100vh - 70px);
  padding: 1rem;
}

.sidebar-list-kaali {
  display: flex;
  justify-self: center;
  list-style: none;
  overflow-y: auto;
  flex-direction: column;
  height: calc(100vh - 64px);
  margin-top: 64px;
  /* background-color: var(--kaali-sidebar-background); */
  padding: 1rem 0rem;
  text-transform: capitalize;
}

.sidebar-list-kaali::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.sidebar-list-kaali:-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-list-kaali::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--kaali-status-available-background);
}

.sidebar-list-kaali .sidebar-list-items {
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

.body-style-development-purpose .sidebar-list-items:hover {
  color: var(--kaali-status-available-background);
}
.body-style-development-purpose.light .sidebar-list-items:hover {
  color: var(--kaali-light-mode-success);
  font-weight: bold;
  filter: saturate(2.5);
}

.secondary-header {
  font-size: var(--kaali-font-secondary-header);
  font-weight: 600;
}

.params {
  margin: 1rem 0rem;
}

hr {
  width: 100%;
}
.note {
  color: #ffbd2e;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0.8px;
}

.code-box {
  padding: 1rem;
}

.code-container {
  font-family: "Inconsolata", monospace;
  background-color: var(--kaali-code-container-background);
  border: 1px solid var(--kaali-border-color);
  height: auto;
  max-width: 740px;

  padding: 1rem;

  border-radius: 0.2rem;
  line-height: 30px;
  position: relative;
}

.code-wrapper {
  overflow: auto;
}
.normal-code-text {
  color: rgb(248, 248, 248);
}

.fa-clipboard.fas {
  cursor: pointer;
}
.code-container > pre {
  overflow: hidden;
  display: inline-block;
}
.code {
  font-family: "Inconsolata", monospace;
  letter-spacing: 1px;
}
.comments {
  color: #9fca56;
}
.code > span {
  font-family: "Inconsolata", monospace;
}

.token.tag {
  color: #55b5db;
}

.attr {
  color: #9fca56;
  margin: 0 4px;
}

.symbol,
.slash {
  color: #55b5db;
  margin: 0px 1px;
}
.lt.symbol,
.gt.symbol,
.slash {
  color: gray;
  font-weight: bold;
}

.copy-tooltip {
  position: absolute;
  right: 16px;
  z-index: 2;
}
/* copy-tooltip for Copy Text */
.body-style-development-purpose.light .copy-tooltip {
  color: var(--kaali-font-color);
}
.copy-tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: gray;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s;
  top: -100%;
  left: -626.1%;
}

.copy-tooltip .tooltiptext::after {
  content: "";
  left: 50%;
  top: 100%;
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.fa-clipboard:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.floating-btn {
  font-size: 1.3rem;
  height: 32px;
  width: 32px;
  position: fixed;
  background-color: var(--kaali-status-available-background);
  color: var(--kaali-code-container-background);
  padding: 1.2rem;
  border-radius: 50%;
  display: none;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  outline: none;
  border: none;
  text-align: center;
  line-height: 30px;
}

.floating-btn::before {
  content: "^";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}

@media only screen and (max-width: 480px) {
  .container-style-development-purpose {
    display: block;
  }
  .code-box {
    padding: 1rem 0;
  }

  .main-body-kaali {
    padding-left: 1rem;
    overflow-x: hidden;
  }
  .sidebar-container-kaali {
    display: none;
  }

  .code-container {
    display: flex;
    flex-direction: column;
  }

  .copy-tooltip {
    margin-bottom: 10px;
    position: unset;
  }
  .copy-tooltip .tooltiptext {
    left: 0%;
    top: 0%;
  }
  .copy-tooltip .tooltiptext::after {
    left: 10%;
    top: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 985px) {
  .container-style-development-purpose {
    display: block;
  }
  .main-body-kaali {
    padding: 1rem;
  }
  .sidebar-container-kaali {
    display: none;
  }
  .code-box {
    padding: 1rem 0rem;
  }
  .code-container {
    display: flex;
    flex-direction: column;
  }
  .copy-tooltip {
    position: unset;
  }
  .copy-tooltip .tooltiptext {
    top: 0%;
    left: 0;
  }
  .copy-tooltip .tooltiptext::after {
    left: 10%;
    top: 100%;
  }
}
@media screen and (min-width: 985px) and (max-width: 1200px) {
  .copy-tooltip .tooltiptext {
    top: -110%;
    left: -75px;
  }
  .copy-tooltip .tooltiptext::after {
    left: 51%;
    top: 100%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1300px) {
  /* .copy-tooltip {
    margin-bottom: 10px;
    position: absolute;
    float: right;
    left: 720px;
  } */
  .copy-tooltip .tooltiptext {
    top: -110%;
    left: -82px;
  }
  .copy-tooltip .tooltiptext::after {
    left: 55%;
    top: 100%;
  }
}
