@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Varela+Round&display=swap");
:root {
  --red: #ff0044;
  --blue: #1654ff;

  --green: forestgreen;

  /* regular font color */
  --font-color: rgb(248, 248, 248);

  /* font sizes */
  --font-main-header: 6.625rem;
  --font-primary-header: 3.6rem;
  --font-secondary-header: 2rem;
  --font-tertiary-header: 1.56rem;
  --font-regular: 1rem;
  --font-sm: 13px;

  /* Mobile Header */
  --font-primary-header-mobile: 2.8rem;

  /* Backgrounds */
  --sidebar-background: #0d1117;
  --navbar-background: #0d1117;
  --main-background: #2f3136;
  --card-background: #191919;
  --plain-card-body-background: #2b2a2a;
  --plain-card-fallback-image: #7f7f7f;
  --card-ecommerce-body-background: whitesmoke;
  --status-available-background: #09ff00;
  /* Border */
  --border-color: gray;

  /* status */
  --status-do-not-disturb: var(--red);

  /* codebox colors */
  --note-color: #ffbd2e;
  --token-tag-color: #55b5db;
  --token-attribute-color: #9fca56;
}
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: "Merriweather Sans", sans-serif;
   */
  font-family: "Varela Round", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--main-background);
  color: rgb(248, 248, 248);
  /* width: 100vw; */
  overflow-x: hidden;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Navigation bar */
.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  z-index: 20;
  /* background-color: #2f3136; */
  background-color: var(--sidebar-background);
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  color: rgb(248, 248, 248);
}
.brand {
  margin-right: auto;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
.brand-logo {
  width: 40px;
  height: 40px;
}
.brand-name {
  margin-left: 10px;
}
.navbar-ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-ul li {
  display: flex;
  margin: 0rem 5rem;
  align-items: center;
}
.navbar-ul li a {
  text-decoration: none;
  color: inherit;
}
.hamburger {
  display: flex;
  align-items: center;
}
.fas.fa-bars {
  font-size: 1.6rem;
  line-height: 50px;
  cursor: pointer;
  display: none;
}

.close-menu {
  display: none;
}

.navbar-ul .component-link-item-mobile {
  display: none;
}
/* Header */

.header-section {
  position: relative;
  padding: 60px 200px 200px;
  min-height: 100vh;
  width: 100vw;
  background-image: url("https://web-assets.cred.club/_next/assets/images/home-page/video-bg.png");
  background-attachment: fixed;
}
.header-container {
  color: rgb(248, 248, 248);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin-top: 100px;
}
.header {
  color: rgb(248, 248, 248);
  font-weight: 600;
  margin-bottom: 1rem;
}
.header-primary {
  font-size: var(--font-main-header);
  letter-spacing: 0px;
}

/* .primary-header {
  font-size: var(--font-primary-header);
  font-weight: 600;
  margin-top: 100px;
  letter-spacing: -3px;
} */

/* .tertiary-header {
  font-size: var(--font-tertiary-header);
  font-weight: 600;
} */
/* .header-tertiary {
  font-size: var(--font-tertiary-header);
  font-weight: 600;
} */

.get-started {
  display: flex;
  justify-content: center;
  margin-top: 39px;
  background-color: rgb(248, 248, 248);
  color: #0f0f0f;
  padding: 1rem 5rem;
  border-radius: 2rem;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  letter-spacing: 1;
  background: linear-gradient(
    to right,
    var(--status-available-background) 50%,
    var(--font-color) 50%
  );
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 500ms ease-in-out;
}

.wrapper-get-started {
}
.wrapper-get-started:hover {
}

.get-started:hover {
  transform: scale(1.02);
  background-position: left bottom;
}

.footer {
  background-color: var(--navbar-background);
  color: var(--font-color);
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
  width: 100%;
}
.developer {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.developer-name {
  padding-bottom: 1rem;
}
.brand.brand-footer {
  margin-right: 0;
}
.brand-footer-logo {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}

.wrapper-social {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-list {
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.social-list-item {
  font-size: var(--font-tertiary-header);
  padding: 0.5rem;
  transition: color 200ms ease;
}
.social-list-item:hover {
  color: var(--status-available-background);
  cursor: pointer;
  transform: scale(1.1);
}

.kaali-repo-link:hover {
  color: var(--font-color);
  cursor: pointer;
}
/* Media Queries */
@media only screen and (max-width: 480px) {
  body {
    overflow: scroll;
    overflow-x: hidden;
  }

  .navbar-ul li {
    margin: 0;
    padding: 1rem;
  }
  .fas.fa-bars {
    display: inline-block;
    padding-right: 1rem;
    color: var(--red);
  }

  .close-menu {
    display: block;
    font-size: 2.5rem;
    padding-right: 1rem;
    /* line-height: 50px; */
    color: var(--red);
    display: none;
    cursor: pointer;
  }
  .navbar-ul::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .navbar-ul:-webkit-scrollbar-track {
    background: transparent;
  }
  .navbar-ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffc72c;
  }
  .navbar-ul {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: var(--navbar-background);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    display: none;
    overflow-y: scroll;
  }
  .navbar-ul .component-link-item-mobile {
    display: block;
  }

  .navbar-ul .component-link-item-desktop {
    display: none;
  }

  .header-section {
    padding: 1rem;
  }
  .header-container {
    align-items: flex-start;
    text-align: left;
  }
  .header-primary {
    font-size: var(--font-primary-header-mobile);
  }

  .get-started {
    font-size: 1rem;
    min-width: 150px;
    padding: 0.8rem 2rem;
  }
  .footer {
    flex-direction: column;
  }
  .developer {
    padding: 0.5rem 0;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  body {
    overflow: scroll;
    overflow-x: hidden;
  }
  .navbar-ul li {
    margin: 0;
    padding: 1rem;
  }
  .fas.fa-bars {
    display: inline-block;
    padding-right: 1rem;
    color: var(--red);
  }

  .close-menu {
    display: block;
    font-size: 2.5rem;
    padding-right: 1rem;
    /* line-height: 50px; */
    color: var(--red);
    display: none;
    cursor: pointer;
  }
  .navbar-ul::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .navbar-ul:-webkit-scrollbar-track {
    background: transparent;
  }
  .navbar-ul::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #ffc72c;
  }
  .navbar-ul {
    position: fixed;
    top: 60px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    display: none;
    overflow-y: scroll;
  }
  .navbar-ul .component-link-item-mobile {
    display: block;
  }
  .navbar-ul .component-link-item-desktop {
    display: none;
  }

  .header-section {
    padding: 1rem;
  }
  .primary-header {
    font-size: var(--font-primary-header-mobile);
  }
}

/* Animations */
.slide-out-top {
  -webkit-animation: slide-out-top 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-top 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-3 9:13:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}

.slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2021-5-3 8:39:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
