:root {
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main-body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 15% 85%;
  margin-top: 50px;
}

.sidebar {
  /* background-color: #2f3136; */
  background-color: #101010;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}

.sidebar-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  position: fixed;
  /* overflow-y: scroll; */
}

.sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.sidebar-list-items {
  padding: 1rem;
}

.main-container {
  margin-top: 20px;
  min-height: 100vh;
  padding: 1rem;
  text-align: left;
  /* background-color: #36393f; */
}

.getting-started-header {
}

.secondary-header {
  font-size: 2rem;
  font-weight: 600;
}

.hero {
  padding: 1rem 0rem;
}
.text {
  text-align: left;
  letter-spacing: 0.8px;
  line-height: 30px;
}

.params {
  margin: 1rem 0rem;
}

hr {
  width: 100%;
  border-top: 1px solid white;
}

.note {
  color: #ffbd2e;
  font-size: 1rem;
  line-height: 30px;
  letter-spacing: 0.8px;
}

/* iframe {
  margin: 1rem 0rem;
} */

/* Code Container */

/* .outer-code-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
} */

.code-box {
  padding: 1rem;
  position: relative;
}

.code-container {
  background-color: #151718;
  height: auto;
  max-width: 740px;
  overflow-x: auto;
  padding: 1rem;
  overflow-y: hidden;
  border-radius: 0.2rem;
}

/* .copy {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  cursor: pointer;
} */

/* .copy-icon {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: flex-end;
  color: rgb(248, 248, 248);
  margin-right: -5px;
  margin-top: -20px;
  overflow-x: auto;
} */

.fa-clipboard.fas {
  cursor: pointer;
}
.code-container > pre {
  /* height: 240px; */
  overflow: hidden;
  display: inline-block;
  /* width: 600px; */
}

/* .trying-out {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.token.tag {
  color: #55b5db;
}

.attr {
  color: #9fca56;
}

.symbol {
  color: #55b5db;
}
.tooltip {
  /* position: relative; */
  /* position: relative; */
  /* position: relative; */
  /* height: 10px; */
  /* width: 140px; */
  /* background: yellowgreen; */
  /* display: flex; */
  float: right;
}
/* Tooltip for Copy Text */
.tooltip .tooltiptext {
  font-size: smaller;
  visibility: hidden;
  width: 150px;
  background-color: gray;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.3s;
  top: -10%;
  left: 50%;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
@media only screen and (max-width: 480px) {
  .main-body {
    grid-template-columns: 100%;
    grid-gap: 1rem;
  }
  .sidebar {
    /* visibility: hidden; */
    display: none;
  }

  .code-container {
    display: flex;
    flex-direction: column;
  }
  .tooltip {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 480px) and (max-width: 880px) {
  .main-body {
    grid-template-columns: 100%;
    grid-gap: 1rem;
  }
  .sidebar {
    /* visibility: hidden; */
    display: none;
  }
}
