<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/badge/badge.css" />
    <link rel="stylesheet" href="/components/card/card.css" />
    <title>Avatar</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header header-secondary">cards</div>
      <div class="outer-card-container">
        <div class="header header-tertiary">blended cards</div>
        <hr class="alert-hr" />
        <div class="card">
          <div class="card-container">
            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e02fd2df008046f04c32d9c0c2e"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e02d9366c007bfea889d08c61ec"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e02090bb1b653340c5db45469b3"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e022fef6b1ba156aaf20d5cfd6a"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e029976116b4f19a967dfbe5e3b"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e02376ab4e92e92e23191cb4d32"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>

        <hr class="alert-hr" />

        <div class="card">
          <div class="plain-card-container">
            <a href="" class="plain-card-fallback-body chakde">
              <img
                src="https://t.scdn.co/images/7ef1d6445a684e30bdd78f09507d688c.jpeg"
                alt=""
                class="plain-card-fallback-image"
              />
              <h3 class="plain-card-title">Podcasts</h3>
            </a>
            <a href="" class="plain-card-fallback-body sleep">
              <img
                src="https://i.scdn.co/image/ab67706f00000002b70e0223f544b1faa2e95ed0"
                alt=""
                class="plain-card-fallback-image"
              />
              <h3 class="plain-card-title">Podcasts</h3>
            </a>
            <a href="" class="plain-card-fallback-body barbie">
              <img
                src="https://i.scdn.co/image/ab67706f000000029a70cf678112e05257aa9e7b"
                alt=""
                class="plain-card-fallback-image barbie"
              />
              <h3 class="plain-card-title">Podcasts</h3>
            </a>
          </div>

          <hr class="alert-hr" />
          <div class="plain-card-container">
            <a href="" class="plain-card-fallback-body">
              <div class="plain-card-fallback-image"></div>
              <h3 class="plain-card-title">Podcasts</h3>
            </a>

            <a href="" class="plain-card-fallback-body">
              <div class="plain-card-fallback-image"></div>
              <h3 class="plain-card-title">Podcasts</h3>
            </a>

            <a href="" class="plain-card-fallback-body">
              <div class="plain-card-fallback-image"></div>
              <h3 class="plain-card-title">Podcasts</h3>
            </a>

            <a href="" class="plain-card-fallback-body">
              <div class="plain-card-fallback-image"></div>
              <h3 class="plain-card-title">Podcasts</h3>
            </a>

            <a href="" class="plain-card-fallback-body">
              <div class="plain-card-fallback-image"></div>
              <h3 class="plain-card-title">Podcasts</h3>
            </a>
          </div>
        </div>
        <hr class="alert-hr" />
        <div class="card card-horizontal">
          <div class="card-horizontal-container">
            <a class="card-horizontal-body">
              <div class="card-horizontal-image-container">
                <img
                  src="https://t.scdn.co/images/7ef1d6445a684e30bdd78f09507d688c.jpeg"
                  alt=""
                  class="card-horizontal-image"
                />
              </div>

              <div class="card-horizontal-content">
                <div class="card-horizontal-title">Lagaan</div>
                <div class="card-horizontal-subtitle">Motion Picture</div>
              </div>
              <div class="play-button"><i class="fas fa-play"></i></div>
            </a>

            <a class="card-horizontal-body">
              <div class="card-horizontal-image-container">
                <img
                  src="https://t.scdn.co/images/7ef1d6445a684e30bdd78f09507d688c.jpeg"
                  alt=""
                  class="card-horizontal-image"
                />
              </div>

              <div class="card-horizontal-content">
                <div class="card-horizontal-title">Lagaan</div>
                <div class="card-horizontal-subtitle">Motion Picture</div>
              </div>
              <div class="play-button"><i class="fas fa-play"></i></div>
            </a>

            <a class="card-horizontal-body">
              <div class="card-horizontal-image-container">
                <img
                  src="https://t.scdn.co/images/7ef1d6445a684e30bdd78f09507d688c.jpeg"
                  alt=""
                  class="card-horizontal-image"
                />
              </div>

              <div class="card-horizontal-content">
                <div class="card-horizontal-title">Lagaan</div>
                <div class="card-horizontal-subtitle">Motion Picture</div>
              </div>
              <div class="play-button"><i class="fas fa-play"></i></div>
            </a>

            <a class="card-horizontal-body">
              <div class="card-horizontal-image-container">
                <img
                  src="https://t.scdn.co/images/7ef1d6445a684e30bdd78f09507d688c.jpeg"
                  alt=""
                  class="card-horizontal-image"
                />
              </div>

              <div class="card-horizontal-content">
                <div class="card-horizontal-title">Lagaan</div>
                <div class="card-horizontal-subtitle">Motion Picture</div>
              </div>
              <div class="play-button"><i class="fas fa-play"></i></div>
            </a>

            <a class="card-horizontal-body">
              <div class="card-horizontal-image-container">
                <img
                  src="https://t.scdn.co/images/7ef1d6445a684e30bdd78f09507d688c.jpeg"
                  alt=""
                  class="card-horizontal-image"
                />
              </div>

              <div class="card-horizontal-content">
                <div class="card-horizontal-title">Lagaan</div>
                <div class="card-horizontal-subtitle">Motion Picture</div>
              </div>
              <div class="play-button"><i class="fas fa-play"></i></div>
            </a>
          </div>
        </div>
        <hr class="alert-hr" />
        <div class="header header-tertiary">ecommerce cards</div>
        <div class="card card-ecommerce">
          <div class="card-ecommerce-container">
            <div class="card-ecommerce-body">
              <div class="card-ecommerce-item">
                <a href="#">
                  <div class="card-ecommerce-image-container">
                    <img
                      src="https://rukminim1.flixcart.com/image/312/312/kfvfwy80/mobile/j/h/t/poco-c3-mzb07riin-original-imafw8qbg63kvngr.jpeg?q=70"
                      alt=""
                      class="card-ecommerce-image"
                    />
                  </div>
                  <div class="card-ecommerce-content">
                    <div class="product-details">
                      <a href="#"
                        ><span class="product-name"> poco c3 </span> (
                        <span class="product-model-name">Arctic Blue </span>
                        <span class="product-model-variant">32 gb)</span>
                      </a>
                    </div>
                    <div class="rating-details">
                      <div class="badge badge-rating">
                        <span class="rating">4.3</span>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="ratings-count">(2,18,887)</div>
                      <div class="item-assured">
                        <img
                          src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png"
                          alt="flip-assured"
                          class="flipkart-assured"
                        />
                      </div>
                    </div>
                    <div class="product-price-details">
                      <span class="discounted-price">₹7,499</span>
                      <span class="original-price">₹9,999</span>
                      <span class="discount-price">25% off</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
            <div class="card-ecommerce-body">
              <div class="card-ecommerce-item">
                <a href="#">
                  <div class="card-ecommerce-image-container">
                    <img
                      src="https://rukminim1.flixcart.com/image/312/312/kfvfwy80/mobile/j/h/t/poco-c3-mzb07riin-original-imafw8qbg63kvngr.jpeg?q=70"
                      alt=""
                      class="card-ecommerce-image"
                    />
                  </div>
                  <div class="card-ecommerce-content">
                    <div class="product-details">
                      <a href="#"
                        ><span class="product-name"> poco c3 </span> (
                        <span class="product-model-name">Arctic Blue </span>
                        <span class="product-model-variant">32 gb)</span>
                      </a>
                    </div>
                    <div class="rating-details">
                      <div class="badge badge-rating">
                        <span class="rating">4.3</span>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="ratings-count">(2,18,887)</div>
                      <div class="item-assured">
                        <img
                          src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png"
                          alt="flip-assured"
                          class="flipkart-assured"
                        />
                      </div>
                    </div>
                    <div class="product-price-details">
                      <span class="discounted-price">₹7,499</span>
                      <span class="original-price">₹9,999</span>
                      <span class="discount-price">25% off</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-ecommerce-body">
              <div class="card-ecommerce-item">
                <a href="#">
                  <div class="card-ecommerce-image-container">
                    <img
                      src="https://rukminim1.flixcart.com/image/312/312/kfvfwy80/mobile/j/h/t/poco-c3-mzb07riin-original-imafw8qbg63kvngr.jpeg?q=70"
                      alt=""
                      class="card-ecommerce-image"
                    />
                  </div>
                  <div class="card-ecommerce-content">
                    <div class="product-details">
                      <a href="#"
                        ><span class="product-name"> poco c3 </span> (
                        <span class="product-model-name">Arctic Blue </span>
                        <span class="product-model-variant">32 gb)</span>
                      </a>
                    </div>
                    <div class="rating-details">
                      <div class="badge badge-rating">
                        <span class="rating">4.3</span>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="ratings-count">(2,18,887)</div>
                      <div class="item-assured">
                        <img
                          src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png"
                          alt="flip-assured"
                          class="flipkart-assured"
                        />
                      </div>
                    </div>
                    <div class="product-price-details">
                      <span class="discounted-price">₹7,499</span>
                      <span class="original-price">₹9,999</span>
                      <span class="discount-price">25% off</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-ecommerce-body">
              <div class="card-ecommerce-item">
                <a href="#">
                  <div class="card-ecommerce-image-container">
                    <img
                      src="https://rukminim1.flixcart.com/image/312/312/kfvfwy80/mobile/j/h/t/poco-c3-mzb07riin-original-imafw8qbg63kvngr.jpeg?q=70"
                      alt=""
                      class="card-ecommerce-image"
                    />
                  </div>
                  <div class="card-ecommerce-content">
                    <div class="product-details">
                      <a href="#"
                        ><span class="product-name"> poco c3 </span> (
                        <span class="product-model-name">Arctic Blue </span>
                        <span class="product-model-variant">32 gb)</span>
                      </a>
                    </div>
                    <div class="rating-details">
                      <div class="badge badge-rating">
                        <span class="rating">4.3</span>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="ratings-count">(2,18,887)</div>
                      <div class="item-assured">
                        <img
                          src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png"
                          alt="flip-assured"
                          class="flipkart-assured"
                        />
                      </div>
                    </div>
                    <div class="product-price-details">
                      <span class="discounted-price">₹7,499</span>
                      <span class="original-price">₹9,999</span>
                      <span class="discount-price">25% off</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-ecommerce-body">
              <div class="card-ecommerce-item">
                <a href="#">
                  <div class="card-ecommerce-image-container">
                    <img
                      src="https://rukminim1.flixcart.com/image/312/312/kfvfwy80/mobile/j/h/t/poco-c3-mzb07riin-original-imafw8qbg63kvngr.jpeg?q=70"
                      alt=""
                      class="card-ecommerce-image"
                    />
                  </div>
                  <div class="card-ecommerce-content">
                    <div class="product-details">
                      <a href="#"
                        ><span class="product-name"> poco c3 </span> (
                        <span class="product-model-name">Arctic Blue </span>
                        <span class="product-model-variant">32 gb)</span>
                      </a>
                    </div>
                    <div class="rating-details">
                      <div class="badge badge-rating">
                        <span class="rating">4.3</span>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="ratings-count">(2,18,887)</div>
                      <div class="item-assured">
                        <img
                          src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png"
                          alt="flip-assured"
                          class="flipkart-assured"
                        />
                      </div>
                    </div>
                    <div class="product-price-details">
                      <span class="discounted-price">₹7,499</span>
                      <span class="original-price">₹9,999</span>
                      <span class="discount-price">25% off</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-ecommerce-body">
              <div class="card-ecommerce-item">
                <a href="#">
                  <div class="card-ecommerce-image-container">
                    <img
                      src="https://rukminim1.flixcart.com/image/312/312/kfvfwy80/mobile/j/h/t/poco-c3-mzb07riin-original-imafw8qbg63kvngr.jpeg?q=70"
                      alt=""
                      class="card-ecommerce-image"
                    />
                  </div>
                  <div class="card-ecommerce-content">
                    <div class="product-details">
                      <a href="#"
                        ><span class="product-name"> poco c3 </span> (
                        <span class="product-model-name">Arctic Blue </span>
                        <span class="product-model-variant">32 gb)</span>
                      </a>
                    </div>
                    <div class="rating-details">
                      <div class="badge badge-rating">
                        <span class="rating">4.3</span>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="ratings-count">(2,18,887)</div>
                      <div class="item-assured">
                        <img
                          src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png"
                          alt="flip-assured"
                          class="flipkart-assured"
                        />
                      </div>
                    </div>
                    <div class="product-price-details">
                      <span class="discounted-price">₹7,499</span>
                      <span class="original-price">₹9,999</span>
                      <span class="discount-price">25% off</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-ecommerce-body">
              <div class="card-ecommerce-item">
                <a href="#">
                  <div class="card-ecommerce-image-container">
                    <img
                      src="https://rukminim1.flixcart.com/image/312/312/kfvfwy80/mobile/j/h/t/poco-c3-mzb07riin-original-imafw8qbg63kvngr.jpeg?q=70"
                      alt=""
                      class="card-ecommerce-image"
                    />
                  </div>
                  <div class="card-ecommerce-content">
                    <div class="product-details">
                      <a href="#"
                        ><span class="product-name"> poco c3 </span> (
                        <span class="product-model-name">Arctic Blue </span>
                        <span class="product-model-variant">32 gb)</span>
                      </a>
                    </div>
                    <div class="rating-details">
                      <div class="badge badge-rating">
                        <span class="rating">4.3</span>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="ratings-count">(2,18,887)</div>
                      <div class="item-assured">
                        <img
                          src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png"
                          alt="flip-assured"
                          class="flipkart-assured"
                        />
                      </div>
                    </div>
                    <div class="product-price-details">
                      <span class="discounted-price">₹7,499</span>
                      <span class="original-price">₹9,999</span>
                      <span class="discount-price">25% off</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-ecommerce-body">
              <div class="card-ecommerce-item">
                <a href="#">
                  <div class="card-ecommerce-image-container">
                    <img
                      src="https://rukminim1.flixcart.com/image/312/312/kfvfwy80/mobile/j/h/t/poco-c3-mzb07riin-original-imafw8qbg63kvngr.jpeg?q=70"
                      alt=""
                      class="card-ecommerce-image"
                    />
                  </div>
                  <div class="card-ecommerce-content">
                    <div class="product-details">
                      <a href="#"
                        ><span class="product-name"> poco c3 </span> (
                        <span class="product-model-name">Arctic Blue </span>
                        <span class="product-model-variant">32 gb)</span>
                      </a>
                    </div>
                    <div class="rating-details">
                      <div class="badge badge-rating">
                        <span class="rating">4.3</span>
                        <i class="fas fa-star"></i>
                      </div>
                      <div class="ratings-count">(2,18,887)</div>
                      <div class="item-assured">
                        <img
                          src="https://static-assets-web.flixcart.com/www/linchpin/fk-cp-zion/img/fa_62673a.png"
                          alt="flip-assured"
                          class="flipkart-assured"
                        />
                      </div>
                    </div>
                    <div class="product-price-details">
                      <span class="discounted-price">₹7,499</span>
                      <span class="original-price">₹9,999</span>
                      <span class="discount-price">25% off</span>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="/kaali.js"></script>
</html>
