<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/card/card.css" />
    <title>Avatar</title>
  </head>
  <body>
    <div class="main-container">
      <div class="secondary-header hero">cards</div>
      <div class="outer-card-container">
        <div class="tertiary-header hero">blended cards</div>
        <div class="card">
          <div class="card-container">
            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e02fd2df008046f04c32d9c0c2e"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e02d9366c007bfea889d08c61ec"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e02090bb1b653340c5db45469b3"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e022fef6b1ba156aaf20d5cfd6a"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e029976116b4f19a967dfbe5e3b"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>

            <div class="card-body">
              <div class="card-item">
                <a href="#">
                  <div class="card-image-container">
                    <img
                      src="https://i.scdn.co/image/ab67616d00001e02376ab4e92e92e23191cb4d32"
                      alt=""
                      class="card-image"
                    />
                  </div>
                  <div class="card-content">
                    <div class="card-title">Believer</div>
                    <div class="card-subtitle">Imagine Dragons</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-container">
            <a href="" class="plain-card-body">
              <img
                src="https://i.scdn.co/image/ab67616d00001e02d9366c007bfea889d08c61ec"
                alt=""
                class="plain-card-image"
              />
              <h3>Podcasts</h3>
            </a>
          </div>
          <div class="card-container">
            <a href="" class="plain-card-fallback-body">
              <div class="plain-card-fallback-image"></div>
              <h3>Podcasts</h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/components/avatar/avatar.js"></script>
  <script src="/sundar.js"></script>
</html>
