/* --------------------------------------------------------------- */
/* Padding */

.px-1 {
  padding: 0rem 1rem;
}

.px-2 {
  padding: 0rem 2rem;
}

.py-1 {
  padding: 1rem 0rem;
}

.py-2 {
  padding: 2rem 0;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}
.px-sm {
  padding: 0px var(--kaali-sm);
}

.px-md {
  padding: 0px var(--kaali-md);
}

.px-lg {
  padding: 0px var(--kaali-lg);
}

.py-sm {
  padding: var(--kaali-sm) 0px;
}

.py-md {
  padding: var(--kaali-md) 0px;
}

.py-lg {
  padding: var(--kaali-lg) 0px;
}

.p-sm {
  padding: var(--kaali-sm);
}

.p-md {
  padding: var(--kaali-md);
}

.p-lg {
  padding: var(--kaali-lg);
}

/* padding-left */
.pl-sm {
  padding-left: var(--kaali-sm);
}

.pl-md {
  padding-left: var(--kaali-md);
}

.pl-lg {
  padding-left: var(--kaali-lg);
}

/* padding-bottom */
.pb-sm {
  padding-bottom: var(--kaali-sm);
}

.pb-md {
  padding-bottom: var(--kaali-md);
}

.pb-lg {
  padding-bottom: var(--kaali-lg);
}

/* padding-right*/
.pr-sm {
  padding-right: var(--kaali-sm);
}

.pr-md {
  padding-right: var(--kaali-md);
}

.pr-lg {
  padding-right: var(--kaali-lg);
}
