<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/button/button.css" />
    <title>toast</title>
  </head>
  <body>
    <div class="main-container">
      <div class="secondary-header hero">buttons</div>
      <div class="outer-button-container">
        <div class="btn-container">
          <button class="btn btn-primary">primary button</button>
          <button class="btn btn-secondary">secondary button</button>
          <button class="btn btn-success">success button</button>
          <button class="btn btn-danger">danger button</button>
          <button class="btn btn-warning">warning button</button>
        </div>
      </div>
    </div>
  </body>

  <script src="/kaali.js"></script>
</html>
