<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/avatar/avatar.css" />
    <title>Avatar</title>
  </head>
  <body>
    <div class="main-container">
      <div class="secondary-header hero">avatar</div>
      <div class="outer-avatar-container">
        <div class="avatar-container">
          <img
            src="/assets/images/avatar_1.jpg"
            alt=""
            class="avatar avatar-sm"
          />
          <img
            src="/assets/images/avatar_1.jpg"
            alt=""
            class="avatar avatar-md"
          />
          <img
            src="/assets/images/avatar_1.jpg"
            alt=""
            class="avatar avatar-lg"
          />
        </div>
      </div>
    </div>
  </body>
</html>
