.card-ecommerce-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, auto));
  gap: 24px;
  grid-template-rows: minmax(180px, auto);
  grid-auto-rows: minmax(180px, auto);
  padding: 1rem;
}

.card-ecommerce-body {
  background-color: var(--card-ecommerce-body-background);
  color: black;
  display: flex;
  justify-content: center;
  border-radius: 0.2rem;
  padding: 1rem;
}
.card-ecommerce-image-container {
  width: 180px;
  height: 180px;
  position: relative;
  margin: auto;
  /* margin-left: 1.8rem; */
}
.card-ecommerce-image {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* if we dont give top left rigth and bottom and use margin auto it does not work!!!!!!! */
}

.card-ecommerce-content {
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: small;
}

.product-details {
  text-align: center;
}
.product-details:hover {
  color: var(--blue);
}
.product-name {
  text-transform: uppercase;
}
.badge {
  margin: 0;
}
.badge-rating {
  color: var(--font-color);
}
.ratings-count {
  margin-left: 8px;
}
.rating-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  height: 44px;
}

.item-assured {
  width: 75px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
}

.flipkart-assured {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.product-price-details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.discounted-price {
  font-size: 0.9rem;
  font-weight: bold;
}

.original-price {
  font-size: 0.8rem;
  text-decoration-line: line-through;
  color: gray;
}

.discount-price {
  color: var(--green);
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 414px) {
  .card-ecommerce-body,
  .card-body {
    margin: 0rem 1rem;
  }
  .card-ecommerce-content {
    padding: 0rem;
    padding-top: 1rem;
  }
  .card-ecommerce-image-container {
    margin: auto;
  }
}
@media only screen and (min-width: 416px) and (max-width: 496px) {
  .card-ecommerce-item {
    width: 100%;
  }
  .card-ecommerce-content {
    padding: 0rem;
    padding-top: 1rem;
  }
  .product-details {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .product-price-details {
    flex-wrap: wrap;
  }
  .card-ecommerce-image-container {
    height: 110px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .card-ecommerce-container {
    grid-template-columns: 50% 50%;

    grid-template-rows: minmax(160px, auto);
    gap: 12px;
    justify-content: center;
  }
  .item-assured {
    margin-left: 4px;
  }
  .ratings-count {
    margin-left: 4px;
  }
}
@media only screen and (max-width: 480px) {
}

@media only screen and (max-width: 768px) {
  .card-image {
    max-width: 100%;
  }
  .plain-card-fallback-image {
    transform: rotate(15deg) translate(61px, 4px);
  }
}
