@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap");

:root {
  --primary-color: #be185d;
  --background-color: #fce7f2;
  --secondary-color: #ffc72c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
html,
body {
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
  /* background-attachment: fixed; */
  margin: 0;
  padding: 0;
}

/* Navbar */
.navbar-container {
  padding: 0.5rem 2rem;
  width: 100%;
  position: fixed;
  z-index: 35;
  font-weight: 600;
  line-height: 30px;
  box-shadow: 0px 10px 15px #ffcbe1;
}

.navbar-list-title {
  margin-right: auto;
}
.navbar-title {
  line-height: 20px;
  font-size: 2rem;
  font-weight: 600;
}
.navbar-list {
  list-style: none;
  display: flex;
}

.navbar-link {
  text-decoration: none;
  display: flex;
}

.navbar-list-items {
  padding: 0rem 1rem;
  font-size: 1.2rem;
}
.navbar-list-items a {
  /* line-height: 10px; */
  font-weight: 600;
  color: var(--primary-color);
}
.beautiful {
  font-weight: inherit;
  color: var(--primary-color);
}
.sundar-logo {
  position: relative;
  bottom: 20px;
}
/* Container */
.container {
  /* overflow: hidden; */
  /* margin: 5rem; */
  position: relative;
  top: 70px;
}

/* Umlaut */
.dot {
  color: black;
}
/* .secondary-dot {
  color: var(--secondary-color);
} */
.stage {
  /* border-bottom: 3px solid #444; */
  display: flex;
  height: 40px;
  width: 100%;
}
.umlaut {
  position: relative;
  /* bottom: 22px;
  right: 365px; */
  align-self: flex-end;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  /* background-color: #fffe; */
  height: 200px;
  margin: 0 30rem 0rem auto;
  transform-origin: bottom;
  width: 200px;
  animation-name: bounce-5;
  animation-timing-function: ease;
}

@keyframes bounce-5 {
  /* 0% {
    transform: scale(1, 1) translateY(-100px);
  } */
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-100px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

/* header */
.header-container {
  font-size: 3rem;
  text-align: center;
  padding: 1rem 10rem;
  margin: 1rem 10rem;
}

.header {
  /* font-size: 6rem; */
  font-weight: 800;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 8px;
  max-height: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

:-webkit-scrollbar-track {
  background: transparent;
}

.get-started-container {
  /* border: 1px solid black; */
  /* margin-top: -200px; */
  /* margin-left: 11rem; */
  display: flex;
  padding: 1rem 5rem;
}

.btn {
  padding: 0.8rem 1.1rem;
  font-size: 1.2rem;
  outline: none;
  border: none;
  border-radius: 0.5rem;
  margin: 0rem 1rem;
  /* align-self: center; */
  /* max-width: 160px; */
  /* box-shadow: 5px 5px 5px 3px whitesmoke; */
}

.btn-primary {
  background-color: var(--primary-color);
  color: whitesmoke;
}

.btn-secondary {
  outline: var(--primary-color);
  border: 1.8px solid var(--primary-color);
  background-color: white;
  color: inherit;
}

@media screen and (max-width: 950px) {
  .header-container {
    padding: 1rem;
    margin: 1rem;
  }
  .umlaut {
    display: none;
  }
}
