.carousel {
  position: relative;
  height: 380px;
  width: 90%;
  margin: 0 auto;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* very useful and crops the image as we want */
}

.carousel-track-container {
  background: transparent;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel-track {
  padding: 0;
  margin: 0;
  position: relative;
  height: 100%;

  transition: transform 200ms ease-in;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
  z-index: 999;
}

.carousel-button img {
  width: 15px;
  height: 15px;
}

.carousel-button-left {
  left: -30px;
}

.carousel-button-right {
  right: -30px;
}

.carousel-nav {
  background: transparent;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel-indicator {
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: gray;
  margin: 0 10px;
  cursor: pointer;
}

.carousel-indicator.current-slide {
  background-color: rgb(0, 0, 0, 0.75);
}

@media only screen and (max-width: 480px) {
  .carousel-image {
    height: 100%;
    object-fit: fill;
  }
  .carousel {
    width: 100%;
    height: 120px;
  }
  .carousel-button-left {
    left: -20px;
  }

  .carousel-button-right {
    right: -20px;
  }
  .carousel-indicator {
    width: 8px;
    height: 8px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  .carousel {
    width: 100%;
    height: 150px;
  }
  .carousel-button-left {
    left: -10px;
  }
  .carousel-button-right {
    right: -10px;
  }
  .carousel-indicator {
    width: 8px;
    height: 8px;
  }
}
