<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="black" />
    <link
      rel="icon"
      type="image/ico"
      href="../../assets/images/kali-icon.ico"
    />
    
  
     <link rel="stylesheet" href="../../shared/shared.css" />
    <link rel="stylesheet" href="../../components/typography/typography.css" />

    <link rel="stylesheet" href="../../utilities/utilities.css" />

    <link rel="stylesheet" href="./carousel.css" />
    <link rel="stylesheet" href="../../components/button/button.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>kaali UI | Carousel</title>
  </head>
  <body class="body-style-development-purpose">
    <div class="container-style-development-purpose">
      <header class="navbar-kaali">
        <div class="d-flex ai-center h-100 jc-space-between pr-sm">
          <div class="brand-kaali">
            <img
              src="../../assets/images/kali-icon.ico"
              alt="kali"
              class="brand-logo-kaali"
            />
            <h2 class="brand-name-kaali">
              <a href="../../index.html">kaali</a>
            </h2>
          </div>
          <div class="component-link-item-mobile btn btn-toggle">
            <button class="btn btn-toggle" id="theme-toggler">
              <i class="fa-solid fa-sun" id="dark-icon"></i>
            </button>
          </div>
          <div class="hamburger-kaali">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </div>


        <nav class="navbar-ul-kaali">
          <ul class="wrapper-navbar">
            <li class="component-link-item-desktop">
              <a href="../../kaali.html">get started</a>
            </li>
            <li class="component-link-item-desktop">
              <a href="../alert/alert.html" id="componentslink">components</a>
            </li>
            <li class="component-link-item-desktop">
              <a href="../../index.html#foot">about</a>
            </li>
            <li class="component-link-item-desktop">
           
              <button class="btn btn-toggle"  id="theme-toggler">
                <i class="fa-solid fa-sun" id="dark-icon"></i>
              </button>
             
            </li>
            <li class="component-link-item-mobile">
              <a href="../../kaali.html">get started</a>
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../alert/alert.html"
                id="component-alert"
                class="component-link-mobile"
                >alert</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../avatar/avatar.html"
                class="component-link-mobile"
                id="component-avatar"
                >avatar</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../badge/badge.html"
                class="component-link-mobile"
                id="component-toast"
                >badge</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../button/button.html"
                class="component-link-mobile"
                id="component-tooltip"
                >button</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../card/card.html"
                class="component-link-mobile"
                id="component-card"
                >card</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="#"
                class="component-link-mobile active"
                id="component-carousel"
                >carousel</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../checkbox/checkbox.html"
                class="component-link-mobile"
                id="component-checkbox"
                >checkbox</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../colors/colors.html"
                class="component-link-mobile"
                id="component-colors"
                >colors</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../input/input.html"
                class="component-link-mobile"
                id="component-badge"
                >input</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../modal/modal.html"
                class="component-link-mobile"
                id="component-button"
                >modal</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../radio/radio.html"
                class="component-link-mobile"
                id="component-radio"
                >radio</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../toast/toast.html"
                class="component-link-mobile"
                id="component-input"
                >toast</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../tooltip/tooltip.html"
                class="component-link-mobile"
                id="component-modal"
                >tooltip</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../typography/typography.html"
                class="component-link-mobile"
                id="component-typo"
                >typography</a
              >
            </li>
          </ul>
        </nav>
      </header>


      <div class="sidebar-container-kaali">
        <ul class="sidebar-list-kaali">
          <a href="../alert/alert.html">
            <li class="sidebar-list-items">alert</li>
          </a>
         
          <a href="../avatar/avatar.html">
            <li class="sidebar-list-items">avatar</li>
          </a>
         
          <a href="../badge/badge.html">
            <li class="sidebar-list-items">badge</li>
          </a>
         
          <a href="../button/button.html">
            <li class="sidebar-list-items">button</li>
          </a>
         
          <a href="../card/card.html">
            <li class="sidebar-list-items">card</li>
          </a>
         
          <a href="#">
            <li class="sidebar-list-items active">carousel</li>
          </a>
         
          <a href="../checkbox/checkbox.html">
            <li class="sidebar-list-items">checkbox</li></a
          >
         
         
          <a href="../colors/colors.html">
            <li class="sidebar-list-items">colors</li>
          </a>
         
          <a href="../input/input.html">
            <li class="sidebar-list-items">input</li></a
          >
         
          <a href="../modal/modal.html">
            <li class="sidebar-list-items">modal</li>
          </a>
         
          <a href="../radio/radio.html">
            <li class="sidebar-list-items">radio</li>
          </a>
         
          <a href="../toast/toast.html">
            <li class="sidebar-list-items">toast</li>
          </a>
         
          <a href="../tooltip/tooltip.html">
            <li class="sidebar-list-items">tooltip</li>
          </a>
         
          <a href="../typography/typography.html">
            <li class="sidebar-list-items">typography</li>
          </a>
        </ul>
      </div>

      <div class="main-body-kaali">
        <div class="main-container" id="carousellink">
          <div class="header header-secondary">Carousel</div>
        


          <div class="carousel">
            <button class="carousel-button carousel-button-left hide">
              <i class="fa-solid fa-chevron-left"></i>
            </button>
            <div class="carousel-track-container">
              <ul class="carousel-track">
                <li class="carousel-slide current-slide">
                  <img
                    class="carousel-image"
                    src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/31/343e5ef4-269c-40a4-baea-a30c0200caeb1627723487050-KidsFest_DK.jpg"
                    alt=""
                  />
                </li>
                <li class="carousel-slide">
                  <img
                    class="carousel-image"
                    src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/31/39966faa-ce1b-408b-9e97-5757f76b38501627723755311-Maxessorize-Desktop-Banner_Day3.gif"
                    alt=""
                  />
                </li>
                <li class="carousel-slide">
                  <img
                    class="carousel-image"
                    src="https://assets.myntassets.com/f_webp,w_980,c_limit,fl_progressive,dpr_2.0/assets/images/2021/7/29/70c732e8-040b-409e-a52e-81c232ee34991627571493519-Weekend-sale_DK-2.jpg"
                    alt=""
                  />
                </li>
              </ul>
            </div>
            <button class="carousel-button carousel-button-right">
              <i class="fa-solid fa-chevron-right"></i>
            </button>

            <div class="carousel-nav">
              <button class="carousel-indicator current-slide"></button>
              <button class="carousel-indicator"></button>
              <button class="carousel-indicator"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script src="../../kaali.js">defer </script>
</html>
