<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/components/tooltip/tooltip.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="secondary-header hero">tooltips</div>
      <div class="outer-tooltip-container">
        <div class="tooltip-container">
          <div class="tooltip tooltip-top">
            <button class="btn-demo">top</button>
          </div>
          <div class="tooltip tooltip-right">
            <button class="btn-demo">right</button>
          </div>
          <div class="tooltip tooltip-bottom">
            <button class="btn-demo">bottom</button>
          </div>
          <div class="tooltip tooltip-left">
            <button class="btn-demo">left</button>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/components/avatar/avatar.js"></script>
  <script src="/sundar.js"></script>
</html>
