*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --red: #ff0044;
  --blue: #1654ff;
  --green: #098a67;
  --yellow: #ffae00a4;
  /* regular font color */
  --font-color: rgb(248, 248, 248);

  /* font sizes */
  --font-primary-header: 6.625rem;
  --font-secondary-header: 2rem;
  --font-tertiary-header: 1.56rem;
  --font-regular: 1rem;
  --font-sm: 13px;

  /* Backgrounds */
  --sidebar-background: #101010;
  --navbar-background: #000000;
  --main-background: #2f3136;
  --card-background: #191919;
  --plain-card-body-background: #2b2a2a;
  --plain-card-fallback-image: #7f7f7f;
  --card-ecommerce-bod-background: whitesmoke;
  --status-available-background: #09ff00;
  /* Border */
  --border-color: gray;

  /* status */
  --status-do-not-disturb: var(--red);

  /* codebox colors */
  --note-color: #ffbd2e;
  --token-tag-color: #55b5db;
  --token-attribute-color: #9fca56;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&display=swap");
.outer-tooltip-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid gray;
  min-height: 100vh;
}

.tooltip-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tooltip {
  position: relative;
}

.tooltip-top::after {
  content: "top";
  position: absolute;
  background-color: black;
  color: var(--font-color);
  padding: 0.5rem;
  border-radius: 5px;
  left: -1%;
  bottom: 110%;
  font-size: small;
  transform: scale(0);
  text-align: center;
  white-space: nowrap;
}

.tooltip-top:hover::after {
  transform: scale(1);
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* left */
.tooltip-left::after {
  content: "left";
  position: absolute;
  background-color: black;
  color: var(--font-color);
  padding: 0.5rem;
  border-radius: 5px;
  right: 110%;
  font-size: small;
  transform: scale(0);
  text-align: center;
  white-space: nowrap;
  width: fit-content;
}

.tooltip-left:hover::after {
  transform: scale(1);
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* right */
.tooltip-right::after {
  content: "right";
  position: absolute;
  background-color: black;
  color: var(--font-color);
  padding: 0.5rem;
  border-radius: 5px;
  left: 110%;
  right: 0;
  top: 0;
  font-size: small;
  transform: scale(0);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
  width: fit-content;
}

.tooltip-right:hover::after {
  transform: scale(1);
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

/* bottom */
.tooltip-bottom::after {
  content: "bottom";
  position: absolute;
  background-color: black;
  color: var(--font-color);
  padding: 0.5rem;
  border-radius: 5px;
  top: 110%;
  right: 0;
  left: 0;
  font-size: small;
  transform: scale(0);
  text-align: center;
  white-space: nowrap;
  z-index: 1;
  width: fit-content;
}

.tooltip-bottom:hover::after {
  transform: scale(1);
  -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.btn-demo {
  padding: 0.8rem 1rem;
  font-family: "Merriweather Sans", sans-serif;
  background-color: #2b2a2a;
  color: var(--font-color);
  outline: none;
  border-radius: 0.5rem;
  border: none;
}
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
