<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/components/tooltip/tooltip.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="header header-secondary">tooltips</div>
      <div class="outer-tooltip-container">
        <div class="tooltip-container">
          <button class="btn-demo">
            top <span class="tooltip tooltip-top">top</span>
          </button>
          <button class="btn-demo btn-demo-left">
            left <span class="tooltip tooltip-left">left</span>
          </button>
          <button class="btn-demo btn-demo-bottom">
            bottom <span class="tooltip tooltip-bottom">bottom</span>
          </button>
          <button class="btn-demo btn-demo-right">
            right <span class="tooltip tooltip-right">right</span>
          </button>
        </div>

        <!-- <div class="tooltip-container">
          <div class="tooltip tooltip-top">
            <button class="btn-demo">top</button>
          </div>
          <div class="tooltip tooltip-right">
            <button class="btn-demo">right</button>
          </div>
          <div class="tooltip tooltip-bottom">
            <button class="btn-demo">bottom</button>
          </div>
          <div class="tooltip tooltip-left">
            <button class="btn-demo">left</button>
          </div>
        </div> -->
      </div>
    </div>
  </body>

  <script src="/kaali.js"></script>
</html>
