<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Components</title>
  </head>
  <body>
    <link rel="stylesheet" href="./alert/alert.html" />
    <a href="./alert/alert.html">Alert</a>
    <link rel="stylesheet" href="./avatar/avatar.html" />
    <link rel="stylesheet" href="./badge/badge.html" />
    <link rel="stylesheet" href="./button/button.html" />
    <link rel="stylesheet" href="./card/card.html" />
    <link rel="stylesheet" href="./toast/toast.html" />
    <link rel="stylesheet" href="./tooltip/tooltip.html" />
  </body>
</html> -->
