<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="/styles.css" rel="stylesheet" />
    <link href="/kaali.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="/components/badge/badge.css" />
    <title>Badge</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header header-secondary">badges</div>
      <div class="outer-badge-container">
        <div class="badge-container">
          <div class="badge badge-notification">
            <i class="fas fa-bell"
              ><span class="notification-count">99+</span></i
            >
          </div>
          <div class="badge badge-shopping-cart">
            <i class="fas fa-shopping-cart"
              ><span class="cart-count">3</span></i
            >
          </div>
          <div class="badge badge-rating">
            <span class="rating">4.3</span>
            <i class="fas fa-star"></i>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/components/alert/alert.js"></script>
  <script src="/kaali.js"></script>
</html>
