:root {
  --red: #ff0044;
  --blue: #1654ff;
  --green: forestgreen;
  --yellow: #ffae00a4;
  /* regular font color */
  --font-color: rgb(248, 248, 248);

  /* font sizes */
  --font-main-header: 6.625rem;
  --font-primary-header: 3.6rem;
  --font-secondary-header: 2rem;
  --font-tertiary-header: 1.56rem;
  --font-regular: 1rem;
  --font-sm: 13px;

  /* Backgrounds */
  --sidebar-background: #101010;
  --navbar-background: #000000;
  --main-background: #2f3136;
  --card-background: #191919;
  --plain-card-body-background: #2b2a2a;
  --plain-card-fallback-image: #7f7f7f;
  --card-ecommerce-bod-background: whitesmoke;
  --status-available-background: #09ff00;
  /* Border */
  --border-color: gray;

  /* status */
  --status-do-not-disturb: var(--red);

  /* codebox colors */
  --note-color: #ffbd2e;
  --token-tag-color: #55b5db;
  --token-attribute-color: #9fca56;
}

.outer-badge-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid gray;
  /* min-height: 100vh; */
}
.badge-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.badge {
  margin: 1rem 3rem;
}

.fas.fa-bell {
  font-size: 1.7rem;
  position: relative;
}

.notification-count {
  height: 17px;
  width: 38px;
  position: absolute;
  background-color: var(--blue);
  color: var(--font-color);
  border-radius: 30%;
  font-size: small;
  text-align: center;
  top: -16%;
  left: 51.5%;
  line-height: 16.6px;
}

.fas.fa-shopping-cart {
  font-size: 1.7rem;
  position: relative;
}

.cart-count {
  height: 16px;
  width: 28px;
  position: absolute;
  background-color: var(--red);
  color: var(--font-color);
  border-radius: 30%;
  font-size: small;
  text-align: center;
  top: -16%;
  left: 51.5%;
  line-height: 16.6px;
}
.rating {
  margin-right: 0.5rem;
}
.badge-rating {
  background-color: var(--green);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  padding: 0rem 0.3rem;
  font-size: x-small;
  height: 20px;
  font-weight: bold;
}
