<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="black" />
    <link
      rel="icon"
      type="image/ico"
      href="../../assets/images/kali-icon.ico"
    />

    <link href="../../kaali.css" rel="stylesheet" />
    <link rel="stylesheet" href="colors.css" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>kaali UI | Typography</title>
  </head>
  <body class="body-style-development-purpose">
    <div class="container-style-development-purpose">
      <header class="navbar-kaali">
        <div class="d-flex ai-center h-100 jc-space-between pr-sm">
          <div class="brand-kaali">
            <img
              src="../../assets/images/kali-icon.ico"
              alt="kali"
              class="brand-logo-kaali"
            />
            <h2 class="brand-name-kaali">
              <a href="../../index.html">kaali</a>
            </h2>
          </div>
          <div class="component-link-item-mobile btn btn-toggle">
            <button class="btn btn-toggle" id="theme-toggler">
              <i class="fa-solid fa-sun" id="dark-icon"></i>
            </button>
          </div>
          <div class="hamburger-kaali">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>
          </div>
        </div>

        <nav class="navbar-ul-kaali">
          <ul class="wrapper-navbar">
            <li class="component-link-item-desktop">
              <a href="../../kaali.html">get started</a>
            </li>
            <li class="component-link-item-desktop">
              <a href="../alert/alert.html" id="componentslink">components</a>
            </li>
            <li class="component-link-item-desktop">
              <a href="../../index.html#foot">about</a>
            </li>
           
            <li class="component-link-item-mobile">
              <a href="../../kaali.html">get started</a>
            </li>
            <li class="component-link-item-desktop">
           
              <button class="btn btn-toggle"  id="theme-toggler">
                <i class="fa-solid fa-sun" id="dark-icon"></i>
              </button>
             
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../alert/alert.html"
                id="component-alert"
                class="component-link-mobile"
                >alert</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../avatar/avatar.html"
                class="component-link-mobile"
                id="component-avatar"
                >avatar</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../badge/badge.html"
                class="component-link-mobile"
                id="component-toast"
                >badge</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../button/button.html"
                class="component-link-mobile"
                id="component-tooltip"
                >button</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../card/card.html"
                class="component-link-mobile"
                id="component-card"
                >card</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../carousel/carousel.html"
                class="component-link-mobile"
                id="component-carousel"
                >carousel</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../checkbox/checkbox.html"
                class="component-link-mobile"
                id="component-checkbox"
                >checkbox</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="#"
                class="component-link-mobile active"
                id="component-colors"
                >colors</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../input/input.html"
                class="component-link-mobile"
                id="component-badge"
                >input</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../modal/modal.html"
                class="component-link-mobile"
                id="component-button"
                >modal</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../radio/radio.html"
                class="component-link-mobile"
                id="component-radio"
                >radio</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../toast/toast.html"
                class="component-link-mobile"
                id="component-input"
                >toast</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../tooltip/tooltip.html"
                class="component-link-mobile"
                id="component-modal"
                >tooltip</a
              >
            </li>
            <li class="component-link-item-mobile">
              <a
                href="../typography/typography.html"
                class="component-link-mobile"
                id="component-typo"
                >typography</a
              >
            </li>
          </ul>
        </nav>
      </header>

      <div class="sidebar-container-kaali">
        <ul class="sidebar-list-kaali">
          <a href="../alert/alert.html">
            <li class="sidebar-list-items">alert</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../avatar/avatar.html">
            <li class="sidebar-list-items">avatar</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../badge/badge.html">
            <li class="sidebar-list-items">badge</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../button/button.html">
            <li class="sidebar-list-items">button</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../card/card.html">
            <li class="sidebar-list-items">card</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../carousel/carousel.html">
            <li class="sidebar-list-items">carousel</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../checkbox/checkbox.html">
            <li class="sidebar-list-items">checkbox</li></a
          >
          <hr class="hr-sidebar" />

          <a href="#">
            <li class="sidebar-list-items active">colors</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../input/input.html">
            <li class="sidebar-list-items">input</li></a
          >
          <hr class="hr-sidebar" />
          <a href="../modal/modal.html">
            <li class="sidebar-list-items">modal</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../radio/radio.html">
            <li class="sidebar-list-items">radio</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../toast/toast.html">
            <li class="sidebar-list-items">toast</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../tooltip/tooltip.html">
            <li class="sidebar-list-items">tooltip</li>
          </a>
          <hr class="hr-sidebar" />
          <a href="../typography/typography.html">
            <li class="sidebar-list-items">typography</li>
          </a>
        </ul>
      </div>

      <div class="main-body-kaali">
        <div class="header header-secondary">color palette</div>
        <hr class="alert-hr" />
        <div class="wrapper-color-box d-flex gap-10 f-wrap">
          
          <div
            class="color-box color-blue d-flex f-direction-col jc-space-between p-md"
          >
            <span>Primary</span><span>#1654ff</span>
          </div>
          <div
            class="color-box color-red d-flex f-direction-col jc-space-between p-md"
          >
            <span>Danger</span>
            <span>#ff0044</span>
          </div>
          <div
            class="color-box color-green d-flex f-direction-col jc-space-between p-md"
          >
            <span>Success</span><span>#228b22</span>
          </div>
          <div
            class="color-box color-yellow d-flex f-direction-col jc-space-between p-md"
          >
            <span>Warning</span><span>##ffae00a4</span>
          </div>
          <div
            class="color-box color-white d-flex f-direction-col jc-space-between p-md"
          >
            <span class="text-black">Font Color</span
            ><span class="text-black">#f8f8f8</span>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../kaali.js"></script>
</html>
