<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/prism.css" />
    <link rel="stylesheet" href="/components/toast/toast.css" />
    <link rel="stylesheet" href="/components/button/button.css" />
    <link rel="stylesheet" href="/components/modal/modal.css" />

    <title>Modal</title>
  </head>
  <body></body>
  <script src="/kaali.js"></script>
  <script src="/prism.js"></script>
</html>
