<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/modal/modal.css" />
    <title>Modal</title>
  </head>
  <body>
    <div class="main-container">
      <div class="secondary-header hero">modal</div>

      <div class="outer-modal-container">
        <button class="btn btn-like">
          <img
            src="/assets/images/—Pngtree—beautiful bright red heart_6252575.png"
            alt="add to cart"
            class="image image-heart"
          />
        </button>
        <div class="modal">
          <div class="modal-container">
            <div class="modal-header">
              <div class="tertiary-header">Modal Title</div>
              <span id="btn-modal-close">&times;</span>
            </div>
            <hr class="modal-hr" />
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/kaali.js"></script>
</html>
