.checkboxBlack-label input:checked ~ .checkmark {
    background-color: #1f2937;
    color: var(--font-color);
    border-radius: 50%;
    height: 34px;
    width: 34px;
  }
  .checkboxBlack-label .checkmark::after {
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .checkboxBlack-label .checkmark {
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: #1f2937;
    color: var(--font-color);
    border-radius: 50%;
    top: 0;
    left: 0;
    outline: none;
    border: none;
  }
  .checkboxBlack-label:hover input ~ .checkmark {
    background-color: #101429;
  }
  

/* blue checkbox */
.checkboxBlue-label input:checked ~ .checkmark {
    background-color: var(--blue);
    color: var(--font-color);
    border-radius: 50%;
    height: 34px;
    width: 34px;
  }
  .checkboxBlue-label .checkmark::after {
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    position: absolute;
    left: 50%;
  
    /* transform: translate(-50%); */
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .checkboxBlue-label .checkmark {
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: var(--blue);
    color: var(--font-color);
    border-radius: 50%;
    top: 0;
    left: 0;
    outline: none;
    border: none;
  }
  .checkboxBlue-label:hover input ~ .checkmark {
    background-color: blue;
  }

  /* white checkbox */

.checkboxWhite-label input:checked ~ .checkmark {
    background-color: rgb(133, 133, 133);
    color: #282c3f;
    border-radius: 50%;
    height: 34px;
    width: 34px;
    border: 1px solid rgb(133, 133, 133);
  }
  .checkboxWhite-label .checkmark::after {
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    position: absolute;
    left: 50%;
  
    /* transform: translate(-50%); */
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .checkboxWhite-label .checkmark {
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: white;
    color: #282c3f;
    border-radius: 50%;
    top: 0;
    left: 0;
    outline: none;
    border: 1px solid rgb(133, 133, 133);
  }
  .checkboxWhite-label:hover input ~ .checkmark {
    background-color: rgb(133, 133, 133);
  }

  /* green checkbox */

.checkboxGreen-label input:checked ~ .checkmark {
    background-color: var(--green);
    color: var(--font-color);
    border-radius: 50%;
    height: 34px;
    width: 34px;
  }
  .checkboxGreen-label .checkmark::after {
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    position: absolute;
    left: 50%;
  
    /* transform: translate(-50%); */
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .checkboxGreen-label .checkmark {
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: var(--green);
    color: var(--font-color);
    border-radius: 50%;
    top: 0;
    left: 0;
    outline: none;
    border: none;
  }
  .checkboxGreen-label:hover input ~ .checkmark {
    background-color: darkgreen;
  }
/* red checkbox */
.checkboxRed-label input:checked ~ .checkmark {
    background-color: red;
    color: var(--font-color);
    border-radius: 50%;
    height: 34px;
    width: 34px;
  }
  .checkboxRed-label .checkmark::after {
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    position: absolute;
    left: 50%;
  
    /* transform: translate(-50%); */
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
  }
  .checkboxRed-label .checkmark {
    position: absolute;
    height: 34px;
    width: 34px;
    background-color: red;
    color: var(--font-color);
    border-radius: 50%;
    top: 0;
    left: 0;
    outline: none;
    border: none;
  }
  .checkboxRed-label:hover input ~ .checkmark {
    background-color: rgb(177, 14, 14);
  }
    