<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="/styles.css" rel="stylesheet" />
    <link href="/kaali.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="/components/alert/alert.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <div class="header header-secondary">alert</div>
      <hr class="alert-hr"/>
      <div class="outer-alert-container">
        <div class="alert-container">
          <div class="alert-content alert-danger">
            This is a danger alert with dismissal button.
            <span class="btn-dismiss" id="btn-danger-close">&times;</span>
          </div>

          <!-- Code for danger alert box -->
          <div class="params">
            <div class="header header-tertiary">danger alert</div>
            <div class="text">
              danger alerts are basically used to represent an error state.
            </div>

            <div class="code-box">
              <div class="code-container">
                <div class="copy-tooltip">
                  <i class="fas fa-clipboard" id="clip-alert-danger">
                    <span id="danger-tooltip" class="tooltiptext"
                      >Copy to Clipboard</span
                    ></i
                  >
                </div>

                <div class="token tag">
                  <pre
                    class="code"
                  ><span class="lt symbol">&lt;</span>div</span> <span class="attr">class</span><span class="symbol">=</span><span class="single-quote">"</span><span class="alert-pm">alert-content alert-danger</span><span class="single-quote">"</span><span class="gt symbol">&gt;</span><br /><span class="tab-space normal-code-text">     This is a danger alert with dismissal button. </span><br /><span class="lt symbol">&lt;</span><span class="slash">/</span><span class="closing-div">div</span><span class="gt symbol">&gt;</span></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="alert-hr"/>

        <div class="alert-container">
          <div class="alert-content alert-success">
            This is a success alert with dismissal button.
            <span class="btn-dismiss" id="btn-success-close">&times;</span>
          </div>

          <!-- Code for success alert box -->
          <div class="params">
            <div class="header header-tertiary">success alert</div>
            <div class="text">
              success alerts are basically used to represent a success state.
            </div>

            <div class="code-box">
              <div class="code-container">
                <div class="copy-tooltip">
                  <i class="fas fa-clipboard" id="clip-alert-success">
                    <span id="success-tooltip" class="tooltiptext"
                      >Copy to Clipboard</span
                    ></i
                  >
                </div>

                <div class="token tag">
                  <pre
                    class="code"
                  ><span class="lt symbol">&lt;</span>div</span> <span class="attr">class</span><span class="symbol">=</span><span class="single-quote">"</span><span class="alert-pm">alert-content alert-success</span><span class="single-quote">"</span><span class="gt symbol">&gt;</span><br /><span class="tab-space normal-code-text">     This is a success alert with dismissal button. </span><br /><span class="lt symbol">&lt;</span><span class="slash">/</span><span class="closing-div">div</span><span class="gt symbol">&gt;</span></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="alert-hr"/>

        <div class="alert-container">    
          <div class="alert-content alert-info">
            This is a info alert with dismissal button.
            <span class="btn-dismiss" id="btn-info-close">&times;</span>
          </div>

          <!-- Code for info alert box -->
          <div class="params">
            <div class="header header-tertiary">info alert</div>
            <div class="text">
              info alerts are basically used to represent a info state.
            </div>

            <div class="code-box">
              <div class="code-container">
                <div class="copy-tooltip">
                  <i class="fas fa-clipboard" id="clip-alert-info">
                    <span id="info-tooltip" class="tooltiptext"
                      >Copy to Clipboard</span
                    ></i
                  >
                </div>

                <div class="token tag">
                  <pre
                    class="code"
                  ><span class="lt symbol">&lt;</span>div</span> <span class="attr">class</span><span class="symbol">=</span><span class="single-quote">"</span><span class="alert-pm">alert-content alert-info</span><span class="single-quote">"</span><span class="gt symbol">&gt;</span><br /><span class="tab-space normal-code-text">     This is a info alert with dismissal button. </span><br /><span class="lt symbol">&lt;</span><span class="slash">/</span><span class="closing-div">div</span><span class="gt symbol">&gt;</span></pre>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="alert-hr"/>

        <div class="alert-container">    
          <div class="alert-content alert-warning">
            This is a warning alert with dismissal button.
            <span class="btn-dismiss" id="btn-warning-close">&times;</span>
          </div>

          <!-- Code for warning alert box -->
          <div class="params">
            <div class="header header-tertiary">warning alert</div>
            <div class="text">
              warning alerts are basically used to represent a warning state.
            </div>

            <div class="code-box">
              <div class="code-container">
                <div class="copy-tooltip">
                  <i class="fas fa-clipboard" id="clip-alert-warning">
                    <span id="warning-tooltip" class="tooltiptext"
                      >Copy to Clipboard</span
                    ></i
                  >
                </div> 

                <div class="token tag">
                  <pre
                    class="code"
                  ><span class="lt symbol">&lt;</span>div</span> <span class="attr">class</span><span class="symbol">=</span><span class="single-quote">"</span><span class="alert-pm">alert-content alert-warning</span><span class="single-quote">"</span><span class="gt symbol">&gt;</span><br /><span class="tab-space normal-code-text">     This is a warning alert with dismissal button. </span><br /><span class="lt symbol">&lt;</span><span class="slash">/</span><span class="closing-div">div</span><span class="gt symbol">&gt;</span></pre>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  <script src="/kaali.js"></script>
</html>
