.tab-space {
  tab-size: 8;
}

.alert-hr {
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}
.alert-content {
  width: 100%;
  height: 55px;
  color: var(--font-color);
  padding: 1rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.alert-danger {
  background-color: #7f1d1d;
  color: #fecaca;
  border: 1px solid #fecaca;
}

.alert-danger-kaali {
  color: #ff0c00;

  background-image: linear-gradient(
    269deg,
    rgb(142 0 0 / 32%),
    rgb(142 0 0 / 32%)
  );
  border: 1px solid #ff0c00;
}

.alert-success {
  background-color: #064e3b;
  /* background-image: linear-gradient(#34690170, #3e7f008a); */
  color: lawngreen;
  border: 1px solid lawngreen;
}

.alert-success-kaali {
  color: lawngreen;
  background-image: linear-gradient(#34690170, #3e7f008a);
  border: 1px solid lawngreen;
}

.alert-info {
  background-color: #1e3a8a;
  color: #01ffeb;
  border: 1px solid #01ffeb;
}
.alert-info-kaali {
  color: #01ffeb;
  background-image: linear-gradient(rgb(0 0 212 / 41%), rgb(0 0 212 / 41%));
  border: 1px solid #01ffeb;
}

.alert-warning {
  background-color: #d97706;
  color: yellow;
  border: 1px solid yellow;
}
.alert-warning-kaali {
  color: yellow;
  background-image: linear-gradient(#bfbf0045, #bfbf0045);
  border: 1px solid yellow;
}

.btn-dismiss {
  font-size: 1.3rem;
  cursor: pointer;
}

/* Animations */
.fade-out-top {
  -webkit-animation: fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: fade-out-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes fade-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
}

@media only screen and (max-width: 480px) {
  .alert-content {
    font-size: var(--font-sm);
  }
}
