<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <link href="/styles.css" rel="stylesheet" />
    <link href="/sundar.css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="/components/alert/alert.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="main-container">
      <div class="secondary-header hero">alerts</div>
      <div class="outer-alert-container">
        <div class="alert-container">
          <div class="alert-content">
            This is an alert with dismissal button.
            <span class="btn-dismiss" id="btn-primary-close">&times;</span>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="/components/alert/alert.js"></script>
</html>
